@font-face {
    font-family: 'Graphik-Web';
   /* src: url('fonts/Lato-Regular.eot');*/
    src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Graphik-Regular-Web.woff') format('woff'),
         url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
         url('../fonts/Graphik-Regular-Web.svg') format('svg');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}


h1 {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 80px;
	font-weight: normal;
	line-height: 88px;
	letter-spacing: -2px;
	text-transform: none;
	margin-bottom: 32px;
	color: #ffffff;
}

h2 {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 56px;
	line-height: 64px;
	font-weight: normal;
	letter-spacing: -1px;
	text-transform: none;
	margin-bottom: 32px;
	color: #ffffff;
	text-align: left;
}

h3 {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 56px;
	line-height: 64px;
	font-weight: normal;
	letter-spacing: -1px;
	text-transform: none;
	margin-bottom: 32px;
	color: #ffffff;
	text-align: left;
}

h4 {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 40px;
	letter-spacing: 0px;
	text-align: left;
	color: #ffffff;
}

h5 {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;
	padding-left: 30px;
	color: #ffffff;
	padding-top: 30px;
}

p {
	font-family: 'Graphik-Web', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 32px;
	color: #ffffff;
}

::-moz-selection { background: #ff0042; }
::selection { background: #ff0042; }

#reel-overlay {
    position: fixed;
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2010;
    cursor: pointer;
    -webkit-animation: fade-black 0.8s;
    -moz-animation: fade-black 0.8s;
    -o-animation: fade-black 0.8s;
    animation: fade-black 0.8s;
}

#reel-overlay a {
	color: #ffffff;
}

#reel-overlay a:hover {
	border-bottom: 2px solid;
}

#menu-overlay {
    position: fixed;
    text-align: left;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2010;
    cursor: pointer;
    -webkit-animation: fade-black 0.8s;
    -moz-animation: fade-black 0.8s;
    -o-animation: fade-black 0.8s;
    animation: fade-black 0.8s;
}

#menu-overlay a {
	color: #ffffff;
	text-decoration: none;
}

#menu-overlay a:hover {
	text-decoration: none;
}

@-webkit-keyframes fade-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fade-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-black {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
	display: inline;
	position: fixed;
	width: 95.5%;
	column-count: 2;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 2000;
}

.site-title {
	width: 30%;
	text-align: left;
	padding-right: 100px;
}

.site-title a {
	text-decoration: none;
	color: #ffffff;
}

.site-title a:hover {
	border-bottom: 2px solid;
}

.site-title-white {
	width: 30%;
	text-align: left;
	padding-right: 100px;
}

.site-title-white a {
	text-decoration: none;
	color: #ffffff;
}

.site-title-white a:hover {
	border-bottom: 2px solid;
}

.nav {
	float: right;
	width: 60%;
	text-align: right;
	padding-top: 1px;
}

@-moz-document url-prefix() {
    .nav {
      padding-top:0px;
    }
}


.nav li {
  display: inline-block;

}

.nav a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.nav a:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}

.nav-mob {
	display: none;
	float: right;
	width: 60%;
	text-align: right;
	padding-top: 1px;
	margin-right: 7px;
}

.nav-mob li {
  display: inline-block;

}

.nav-mob a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.nav-mob a:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}

.nav-white {
	float: right;
	width: 60%;
	text-align: right;
	padding-top: 1px;
}

@-moz-document url-prefix() {
    .nav-white {
      padding-top:0px;
    }
}

.nav-white li {
  display: inline-block;

}

.nav-white a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.nav-white a:hover {
	border-bottom: 2px solid;
	cursor: pointer;
}

.hero-home {
	position: relative;
	text-align: left;
	padding-top: 30vh;

}

.main-title {
	display: block;
	text-align: left;
	position: fixed;
	z-index: -1;
	margin-left: 5%;
	margin-bottom: 0px;
	width: 70%;
}

.work {
	position: relative;
	display: block;
	column-count: 1;
	text-align: right;
	margin-top: 50vh;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 450px;
}

.work-block {
	display: block;
	margin-top: 50px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 96px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block a {
	text-decoration: none;
}

.work-block a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: rgba(255,0,66,1.0);
}

.work-block a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: rgba(255,0,66,1.0);
}

.work-block-pg {
	display: block;
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 30%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-pg a {
	text-decoration: none;
}

.work-block-pg a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #18171c;
}

.work-block-pg a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #18171c;
}

.work-block-benn {
	display: block;
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-benn a {
	text-decoration: none;
}

.work-block-benn a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #bba070;
}

.work-block-benn a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #bba070;
}

.work-block-quay {
	display: block;
	margin-top: 50px;
	margin-left: 45%;
	margin-right: 5%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-quay a {
	text-decoration: none;
}

.work-block-quay a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #24252f;
}

.work-block-quay a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #24252f;
}

.work-block-sbs {
	display: block;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 40%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-sbs a {
	text-decoration: none;
}

.work-block-sbs a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #fec70b;
}

.work-block-sbs a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #fec70b);
}

.work-block-scribble {
	display: block;
	margin-top: 50px;
	margin-left: 45%;
	margin-right: 0%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-scribble a {
	text-decoration: none;
}

.work-block-scribble a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #43c6ae;
}

.work-block-scribble a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #43c6ae;
}

.work-block-gumtree {
	display: block;
	margin-top: 50px;
	margin-left: 0%;
	margin-right: 45%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-gumtree a {
	text-decoration: none;
}

.work-block-gumtree a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #3ad540;
}

.work-block-gumtree a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #3ad540;
}

.work-block-nth {
	display: block;
	margin-top: 50px;
	margin-left: 50%;
	margin-right: 5%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-nth a {
	text-decoration: none;
}

.work-block-nth a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #1c2230;
}

.work-block-nth a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #1c2230;
}

.work-block-slm {
	display: block;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 25%;
	margin-bottom: 50px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-slm a {
	text-decoration: none;
}

.work-block-slm a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #FF9D6C;
}

.work-block-slm a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #FF9D6C;
}

.work-block-gml {
	display: block;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 25%;
	margin-bottom: 250px;
	background-color: #222222;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}

.work-block-gml a {
	text-decoration: none;
}

.work-block-gml a:hover .work-thumb-sml {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #eb5735;
}

.work-block-gml a:hover .work-thumb-lg {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #eb5735;
}

.work-thumb-sml {
	display: block;
	position: relative;
	height: 400px;
}
.work-thumb-lg {
	display: block;
	position: relative;	
	height: 600px;
}

.thumb-image {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    z-index: -1;
}

.project-image {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
}

.footer {
	display: inline;
	width: 95%;
	margin-top: 600px;
	z-index: 1;
}

.footer-bio {
	display: inline;
	width: 95%;
	margin-top: 400px;
	z-index: 1;
}

.footer-contact-links {
	display: inline-block;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 40%;
}


.footer-contact-links a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-contact-links a:hover {
	border-bottom: 2px solid;
}

.footer-social-links {
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	margin-right: 20px;
	width: 40%;
}


.footer-social-links a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-social-links a:hover {
	border-bottom: 2px solid;
}

.footer-contact-links-white {
	display: inline-block;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 40%;
}


.footer-contact-links-white a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-contact-links-white a:hover {
	border-bottom: 2px solid;
}

.footer-social-links-white {
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	margin-right: 20px;
	width: 40%;
}


.footer-social-links-white a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-social-links-white a:hover {
	text-decoration: underline;
}

.footer-contact-links-mob {
	display: none;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 90%;
}


.footer-contact-links-mob a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-contact-links-mob a:hover {
	border-bottom: 2px solid;
}

.footer-social-links-mob {
	display: none;
	text-align: left;
	position: relative;
	margin-top: -20px;
	margin-left: 20px;
	width: 90%;
}


.footer-social-links-mob a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-social-links-mob a:hover {
	border-bottom: 2px solid;
}

.footer-contact-links-white-mob {
	display: none;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 90%;
}


.footer-contact-links-white-mob a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-contact-links-white-mob a:hover {
	border-bottom: 2px solid;
}

.footer-social-links-white-mob {
	display: none;
	text-align: left;
	position: relative;
	margin-left: 20px;
	width: 90%;
}


.footer-social-links-white-mob a {
	text-decoration: none;
	color: #ffffff;
	padding-left: 0px;
}

.footer-social-links-white-mob a:hover {
	border-bottom: 2px solid;
}

.project-hero {
	display: block;
	text-align: left;
	padding-top: 100px;
	position: relative;
	margin-left: 5%;
	margin-bottom: 0px;
	width: 70%;
}

.project-title {
	display: block;
	text-align: left;
	z-index: -1;
	margin-bottom: 0px;
}


.project-detail {
	position: relative;
	display: block;
	column-count: 1;
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 100px;
}

.project-detail-block {
	display: block;
	margin-top: 0px;
	margin-bottom: 20px;
}

.project-detail-block-multi {
	display: block;
	column-count: 2;
	margin-top: 0px;
	margin-bottom: 20px;
}

.project-thumb-sml-1 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin-right: 3px;
}
.project-thumb-sml-2 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin-left: 3px;
}
.project-thumb-lg {
	display: block;
	position: relative;	
	width: 100%;
	height: auto;
}

.other-projects {
	width: 70%;
	text-align: left;
	margin-left: 5%;
	padding-top: 100px;
	padding: bottom: 150px;
}

.other-projects a {
	text-decoration: none;
	color: #ffffff;
}

.other-projects a:hover {
	border-bottom: 2px solid;
	color: #ffffff;
}

.hero-bio {
	position: relative;
	text-align: right;

}

.hero-bio-grid {
	display: block;
	text-align: left;
	position: fixed;
	z-index: -1;
	margin-top: 100px;
	margin-left: 45%;
	margin-bottom: 0px;
	width: 45%;
}

.bio-thumb-sml {
	display: block;
	height: 200px;
}
.bio-thumb-lg {
	display: block;
	height: 400px;
}

.bio-body {
	display: block;
	text-align: left;
	padding-top: 170px;
	position: relative;
	margin-left: 5%;
	margin-bottom: 0px;
	width: 70%;
}

.bio-hero-block {
	padding-bottom: 50px;
}

.bio-text-block {
	padding-bottom: 30px;
	width: 80%;
}

.reel-video-block {
	position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* MOBILE */

@media screen and (max-width: 767px) {
	body .hero-home {
	padding-top: 150px;
	}
	.main-title {
	width: 85%;
	}
	h1 {
	font-size: 40px;
	line-height: 44px;
	}
	h2 {
	font-size: 40px;
	line-height: 44px;
	}
	h3 {
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -1px;
	}
	h4 {
	font-size: 28px;
	line-height: 32px;
	letter-spacing: 0px;
	}
	.nav {
	display: none;
	}
	.nav-mob {
	display: block;
	padding-right: 30px;
	}
	.site-title {
	width: 60%;
	padding-right: 20px;
	}
	.work {
	margin-top:40vh;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 450px;
	}
	.work-block-pg {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-quay {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-gml {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-benn {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-sbs {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-scribble {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-gumtree {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-nth {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-block-slm {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.work-thumb-sml {
	height: 300px;
	}
	.work-thumb-lg {
	height: 300px;
	}
	.footer-contact-links {
	display: none;
	}
	.footer-contact-links-mob {
	display: block;
	}
	.footer-social-links {
	display: none;
	}
	.footer-social-links-mob {
	display: block;
	}
	.hero-bio-grid {
    z-index: -1000;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0px;
    width: 95.5%;
	}
	.bio-body {
	width: 90%;
	padding-top: 40vh;
	}
	.bio-text-block {
	width: 100%;
	}
	.project-hero {
	width: 90%;
	padding-top: 20vh;
	}
	.project-detail {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
	}
	.project-detail-block {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	}
	.project-detail-block-multi {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	column-count: 1;
	}
	.project-thumb-sml-1 {
	width: 100%;
	height: auto;
	margin-right: 0;
	margin-bottom: 20px;
	}
	.project-thumb-sml-2 {
	width: 100%;
	height: auto;
	margin-right: 0;
	}
	.project-thumb-lg {
	width: 100%;
	height: auto;
	}
	.other-projects {
	padding-top: 50px;
}
}

/* TABLET PORTRAIT */

@media screen and (min-width: 768px) and (max-width:768px){

	h3 {
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -1px;
	}

	h4 {
	font-size: 28px;
	line-height: 32px;
	letter-spacing: 0px;
	}

	.header {
	width: 92.5%;
	}

	.hero-home {
	position: relative;
	text-align: left;
	padding-top: 200px;
	}

	.main-title {
	display: block;
	text-align: left;
	position: fixed;
	z-index: -1;
	margin-left: 5%;
	margin-bottom: 0px;
	width: 90%;
	}
	.work {
	margin-top:550px;
	}
	.work-block-pg {
	margin-right: 20%;
	}
	.work-block-quay {
	margin-left: 20%;
	}
	.work-block-gml {
	margin-right: 20%;
	}
	.work-block-benn {
	margin-right: 10%;
	}
	.work-block-sbs {
	margin-right: 25%;
	}
	.work-block-scribble {
	margin-left: 30%;
	}
	.work-block-gumtree {
	margin-right: 30%;
	}
	.work-block-nth {
	margin-left: 25%;
	}
	.work-block-slm {
	margin-right: 20%;
	}
	.work-thumb-lg {
	height: 400px;
	}
	.footer-contact-links {
	width: 50%;
	}
	.footer-contact-links-white {
	width: 50%;
	}
	.hero-bio-grid {
    margin-left: 30%;;
    width: 60%;
	}
	.bio-body {
	width: 85%;
	padding-top: 50vh;
	}
	.bio-text-block {
	width: 100%;
	}
}


/* TABLET LANDSCAPE */

@media screen and (min-width:769px) and (max-width:1024px) {
	.hero-home {
	position: relative;
	text-align: left;
	padding-top: 150px;

	}

	.main-title {
	display: block;
	text-align: left;
	position: fixed;
	z-index: -1;
	margin-left: 5%;
	margin-bottom: 0px;
	width: 80%;
	}
}

/* WIDE */

@media screen and (min-width:1440px){
	h1 {
	font-size: 90px;
	line-height: 100px;

	}
}

/* VERY WIDE */

@media screen and (min-width:1700px){
	h1 {
	font-size: 110px;
	line-height: 120px;

	}
}


