@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@font-face {
  font-family: GlossAndBloom;
  src: url("../fonts/Gloss_And_Bloom.ttf"); }

@font-face {
  font-family: aliensandcows;
  src: url("../fonts/aliens and cows_trial.ttf"); }

@-webkit-keyframes gradient {
  0% {
    background-position: 14% 0%; }
  50% {
    background-position: 87% 100%; }
  100% {
    background-position: 14% 0%; } }

@keyframes gradient {
  0% {
    background-position: 14% 0%; }
  50% {
    background-position: 87% 100%; }
  100% {
    background-position: 14% 0%; } }

@-webkit-keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  25% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%); }
  50% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%); }
  75% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%); }
  100% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%); } }

@keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  25% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%); }
  50% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%); }
  75% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%); }
  100% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%); } }

@keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  25% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 100% 100%, 100% 0%, 0% 0%); }
  50% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, calc(100% - 2px) 2px, 100% 0%, 0% 0%); }
  75% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%); }
  100% {
    -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
    clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%); } }

/*
@-webkit-keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 78px, 2px 78px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 78px, 473px 78px, 473px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 2px, 473px 2px, 473px 2px, 473px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
}
@keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 78px, 2px 78px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 78px, 473px 78px, 473px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 473px 2px, 473px 2px, 473px 2px, 473px 2px, 473px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
}
@-webkit-keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 63px, 2px 63px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 63px, 398px 63px, 398px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 2px, 398px 2px, 398px 2px, 398px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
}
@keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 63px, 2px 63px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 63px, 398px 63px, 398px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 2px, 398px 2px, 398px 2px, 398px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
}
 @-webkit-keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 288px 2px, 288px 48px, 2px 48px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 288px 2px, 288px 48px, 288px 48px, 288px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 288px 2px, 288px 2px, 288px 2px, 288px 2px, 288px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
} 
/* @-webkit-keyframes border {	
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 43px, 2px 43px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 43px, 278px 43px, 278px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 2px, 278px 2px, 278px 2px, 278px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
}
@keyframes border {
	0% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 43px, 2px 43px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	25% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 43px, 278px 43px, 278px 100%, 100% 100%, 100% 0%, 0% 0%);
	}
	50% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 2px, 278px 2px, 278px 2px, 278px 2px, 100% 0%, 0% 0%);
	}
	75% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 2px, 2px 0%, 0% 0%);
	}
	100% {
		-webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 2px 100%, 0% 100%);
	}
} */
address {
  font-style: normal; }

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none; }
  a:link {
    color: inherit;
    text-decoration: none; }
  a:visited {
    color: inherit;
    text-decoration: none; }

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit; }
  button:focus {
    outline: none; }

[data-slide-to] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.btn {
  font-size: 25px;
  font-weight: 300;
  border: 2px solid;
  padding: 1em 1.25em;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 475px;
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0; }

.btn-close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #cacaca;
  top: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
  padding: 0;
  position: relative;
  position: absolute; }
  .btn-close:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 0;
    margin-top: -2px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #cacaca;
    width: 26px;
    left: 10px; }
  .btn-close:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 0;
    margin-top: -2px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #cacaca;
    width: 26px;
    left: 10px; }

.nav-button {
  display: block;
  position: absolute;
  width: 60px;
  height: 120px;
  padding: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 3; }
  .nav-button:after {
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top; }
  .nav-button:before {
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom; }

.nav-button.next {
  right: 20px; }
  .nav-button.next:after {
    right: 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  .nav-button.next:before {
    right: 0;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); }

.nav-button.prev {
  left: 20px; }
  .nav-button.prev:after {
    left: 0;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  .nav-button.prev:before {
    left: 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }

.cta-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25vh;
  padding: 66px 0 66px 0; }
  .cta-wrapper .cta {
    margin: 0;
    background: none;
    color: #fcd70d;
    margin: 0 auto;
    font-weight: 900; }
  .cta-wrapper .bar {
    position: absolute;
    left: 50%;
    margin-left: -2px;
    width: 2px;
    height: 30px; }
    .cta-wrapper .bar > div {
      width: 2px;
      height: 30px;
      background: #FCE36E; }
  .cta-wrapper .top {
    top: 0; }
  .cta-wrapper .bottom {
    bottom: 0; }

.btn-gradient {
  position: relative;
  border: none !important;
  display: block;
  width: 475px;
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 600; }
  .btn-gradient > span {
    display: block;
    background: -webkit-linear-gradient(330deg, #FCFC85, #ab8a30, #FCFC85);
    background: -o-linear-gradient(330deg, #FCFC85, #ab8a30, #FCFC85);
    background: linear-gradient(120deg, #FCFC85, #ab8a30, #FCFC85);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.loaded .btn-gradient > span {
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite; }

.loaded .btn-gradient:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: -webkit-linear-gradient(330deg, #FCFC85, #ab8a30, #FCFC85);
  background: -o-linear-gradient(330deg, #FCFC85, #ab8a30, #FCFC85);
  background: linear-gradient(120deg, #FCFC85, #ab8a30, #FCFC85);
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, -webkit-calc(100% - 4px) 2px, 473px 78px, 2px 78px, 2px 100%, 100% 100%, 100% 0%, 0% 0%);
  -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse; }

.lazy-loading {
  background-image: url("../images/ajax-loader.gif");
  background-size: 40px auto !important; }

.fa {
  font-size: 2rem; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #d5d5d5;
  background: #161514; }

html {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #d5d5d5; }

.content-container {
  width: 100%;
  max-width: 475px;
  margin: 0 auto; }

.outer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.main-swiper {
  width: 100%;
  z-index: 6;
  height: 100%; }
  .main-swiper .swiper-slide {
    height: 100%; }
  .main-swiper .swiper-slide-half {
    height: 50%; }

.white {
  -webkit-transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  -o-transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  position: relative;
  background: #FFF;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center; }

.white-container {
  -webkit-transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  -o-transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  transition: all 1s cubic-bezier(0.62, 0.305, 0.045, 0.775);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  z-index: 5;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

.white-container.step-0 .white {
  -webkit-transform: translate3d(0, 30vh, 0) rotate(-95deg);
  transform: translate3d(0, 30vh, 0) rotate(-95deg); }

.white-container.step-1 .white {
  -webkit-transform: translate3d(0, 0, 0) rotate(-155deg);
  transform: translate3d(0, 0, 0) rotate(-155deg); }

.white-container.step-3 .white {
  -webkit-transform: translate3d(0, 0, 0) rotate(-155deg);
  transform: translate3d(0, 0, 0) rotate(-155deg); }

.white-container.step-2 .white {
  -webkit-transform: translate3d(0, 0, 0) rotate(-205deg);
  transform: translate3d(0, 0, 0) rotate(-205deg); }

.white-container.step-4 .white {
  -webkit-transform: translate3d(0, -35vh, 0) rotate(-275deg);
  transform: translate3d(0, -35vh, 0) rotate(-275deg); }

.white-container.step-5 .white {
  -webkit-transform: translate3d(0, -52vh, 0) rotate(-270deg);
  transform: translate3d(0, -52vh, 0) rotate(-270deg); }

header {
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1.5rem;
  text-align: center; }
  header .logo {
    margin-top: 100px; }
  header svg {
    display: block;
    width: 100%; }
  header > .btn {
    margin-top: -4.5%;
    width: 100%; }

.extra-openings {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #7D0000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 5000;
  text-align: center;
  cursor: pointer; }
  .extra-openings div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0; }
  .top-nav .nav-item {
    font-size: 20px; }
  .top-nav .icon {
    display: block; }
  .top-nav img {
    width: 2.4em;
    max-width: 100%;
    height: auto; }
  .top-nav .text {
    display: block;
    text-transform: lowercase;
    color: #cacaca;
    font-weight: 300;
    margin-top: 0.8em;
    line-height: 1; }

.openings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.openings-list {
  font-family: Impact, sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 1.1; }
  .openings-list .day {
    float: left;
    margin: 0;
    clear: left;
    color: #FFF;
    padding-right: 2%; }
    .openings-list .day:after {
      content: " "; }
  .openings-list .time {
    float: left;
    margin: 0;
    color: #4C4A4B; }
  .openings-list:after {
    content: "";
    display: block;
    clear: both; }

.image-wrapper {
  max-width: 1980px;
  min-width: 1600px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0) !important;
  -ms-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 125px 100px; }

.image-wrapper.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.image-wrapper.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.swiper-slide-multiple {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .swiper-slide-multiple .swiper-slide {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.container-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.menu-image {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }
  .menu-image .container {
    position: relative;
    -webkit-transition: opacity 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), -webkit-transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995);
    transition: opacity 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), -webkit-transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995);
    -o-transition: opacity 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995);
    transition: opacity 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995);
    transition: opacity 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995), -webkit-transform 1000ms cubic-bezier(0.415, 0.56, 0.355, 0.995);
    opacity: 0;
    cursor: pointer; }
  .menu-image .parallax-wrapper {
    -webkit-box-shadow: 0 0 1.5rem 0 black;
    box-shadow: 0 0 1.5rem 0 black; }
  .menu-image .image {
    height: 350px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  .menu-image img {
    width: auto;
    height: 100%;
    display: block; }
  .menu-image .textwrapper {
    position: absolute;
    padding: 0 1rem;
    color: white;
    bottom: 16.0427807486631%;
    cursor: pointer;
    font-size: 6rem;
    font-weight: 400;
    z-index: 2000;
    height: 30%; }
  .menu-image .container-left {
    float: left;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    .menu-image .container-left .textwrapper {
      right: -17.52921535%;
      font-family: GlossAndBloom, serif; }
  .menu-image .container-right {
    float: right;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0); }
    .menu-image .container-right .textwrapper {
      left: -17.52921535%;
      font-family: aliensandcows, serif; }

.menu-image.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.menu-image.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.step-1 .swiper-slide:nth-child(2) .container {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.step-1 .swiper-slide:nth-child(3) .container {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.step-2 .swiper-slide:nth-child(3) .container {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.step-2 .swiper-slide:nth-child(4) .swiper-slide:first-child .container {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.step-3 .swiper-slide:nth-child(4) .swiper-slide .container {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.image-active {
  opacity: 0;
  -webkit-transform: scale(5, 5);
  -ms-transform: scale(5, 5);
  transform: scale(5, 5); }

footer {
  font-size: 20px;
  position: relative;
  text-align: center;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #cacaca; }
  footer .fa {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5em; }

.footer-aside-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.6;
  font-family: GlossAndBloom, serif;
  font-size: 40px;
  }

.impressum {
  font-size: 0.7em; }
  .impressum a {
    opacity: 0.6; }

.footer-content > div {
  margin: 30px 0; }
  .footer-content > div:last-child {
    margin-top: 60px;
    margin-bottom: 0;
    margin-bottom: 0; }
  .footer-content > div:first-child {
    margin-top: 0; }

.virtual-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/Entrance.jpg");
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.open-swiper-transition-clone {
  position: absolute;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1000; }

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: 1001;
  opacity: 0;
  background: rgba(11, 10, 10, 0.95); }

#overlay-idea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #overlay-idea video {
    width: 100%;
    height: auto; }

.fixed-swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat; }

.fixed-swiper-wrapper .swiper-container {
  height: 100%;
  width: 100%; }

#overlay-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #overlay-menu .btn-wrapper:first-child {
    margin-bottom: 2em; }
  #overlay-menu .btn {
    display: block; }
  #overlay-menu .bar {
    display: none;
    position: relative; }
  #overlay-menu .bar-inner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    background: #FFF; }

#btn-drinks {
  line-height: 2.92;
  font-family: GlossAndBloom, sans-serif; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 20;
  opacity: 0;
  overflow-y: scroll;
  background: rgba(11, 10, 10, 0.9);
  color: #0B0A0A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 30px 0 30px; }
  .modal .modal-inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px;
    background: #0B0A0A;
    color: #FFF;
    text-align: left; }
  .modal .highlight-icon {
    opacity: 0.5;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    cursor: pointer; }
    .modal .highlight-icon:hover {
      opacity: 1;
      color: black;
      border-color: black; }
  .modal .close-modal {
    color: #FFF;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .modal .content-wrapper {
    overflow-y: auto;
    max-height: 100%; }
  .modal .modal-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .modal .btn {
    margin-right: 20px;
    margin-bottom: 20px;
    background: none;
    color: #cacaca;
    border-color: #cacaca; }
    .modal .btn:last-of-type {
      margin-right: 0; }
    .modal .btn:hover {
      background: none;
      color: #cacaca;
      border-color: #cacaca; }

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0B0A0A;
  z-index: 99999; }
  .loader-overlay .loader {
    position: absolute;
    left: 50%;
    top: 198px;
    width: 122px;
    height: 94px;
    margin-left: -61px; }
    .loader-overlay .loader > svg {
      width: 100%;
      position: absolute;
      left: 0; }

.loader-overlay.active {
  opacity: 1;
  z-index: 100000; }

#loader-svg {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 126%; }

.screenblock {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161514;
  z-index: 99999; }

@media screen and (orientation: portrait) {
  .white {
    top: -100vh;
    right: 200vh;
    width: 200vh;
    height: 200vh; } }

@media screen and (orientation: landscape) {
  .white {
    top: -100vw;
    right: 200vw;
    width: 200vw;
    height: 200vw; }
  .mobile .screenblock {
    display: block; } }

@media screen and (max-width: 1260px) {
  .image-wrapper {
    min-width: 1500px; }
  .menu-image .image {
    height: 30vh; } }

@media screen and (max-width: 768px) {
  .image-wrapper {
    min-width: 880px;
    padding: 0 20px; }
    .image-wrapper .image {
      height: 25vh; }
    .image-wrapper .textwrapper {
      min-height: 45px; } }

@media screen and (max-width: 545px) {
  header .logo {
    margin: 20px auto 0 auto; }
  .footer-aside {
    font-size: 35px; }
  .footer-content {
    font-size: 15px; }
    .footer-content > div {
      margin: 20px; }
  .top-nav .nav-item {
    font-size: 18px; }
  .top-nav img {
    width: 2.5em; }
  .nav-button {
    width: 40px;
    height: 80px; }
  .nav-button.prev {
    left: 10px; }
  .nav-button.next {
    right: 10px; }
  .cta-wrapper {
    bottom: 80px; }
  .white-container.step-0 .white {
    -webkit-transform: translate3d(0, 40vh, 0) rotate(-95deg);
    transform: translate3d(0, 40vh, 0) rotate(-95deg); } }

@media screen and (max-width: 500px) {
  .image-wrapper {
    min-width: 570px; }
    .image-wrapper .image {
      height: 20vh;
      min-height: 120px; } }

@media screen and (min-width: 451px) {
  .openings .content-container {
    max-width: 400px; }
  .openings .btn {
    width: 400px;
    height: 67px;
    line-height: 67px;
    font-size: 25px; }
  .openings .btn-gradient {
    display: block;
    width: 400px;
    height: 67px;
    line-height: 67px; }
    .openings .btn-gradient:after {
      -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 398px 2px, 398px 63px, 2px 63px, 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  .loaded .openings .btn-gradient:after {
    -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
    animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse; } }

@media screen and (max-width: 450px) {
  .openings-list {
    font-size: 28px; } }

@media screen and (min-width: 401px) {
  .loader-overlay .loader {
    top: 180px;
    width: 98px;
    height: 75px;
    margin-left: -48px; }
  .footer-aside-wrapper {
    font-size: 35px; }
  .content-container {
    max-width: 320px; }
  .cta-wrapper {
    padding: 36px 0 36px 0; }
    .cta-wrapper .bar {
      width: 2px;
      height: 15px; }
      .cta-wrapper .bar > div {
        width: 2px;
        height: 15px; }
  .btn {
    font-size: 16px;
    width: 300px;
    height: 50px;
    line-height: 50px; }
  .btn-gradient {
    width: 300px;
    height: 50px;
    line-height: 50px; }
    .btn-gradient:after {
      -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 288px 2px, 288px 48px, 2px 48px, 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  .loaded .btn-gradient:after {
    -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
    animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse; }
  .extra-openings {
    width: 110px;
    height: 110px;
    font-size: 14px; }
  footer {
    font-size: 16px; }
  header {
    padding-bottom: 30px; }
    header .logo {
      margin-top: 100px; }
  .top-nav .nav-item {
    font-size: 16px; }
  .top-nav img {
    width: 2.5em; } }

@media screen and (max-width: 400px) {
  .image-wrapper {
    min-width: 480px; }
  .loader-overlay .loader {
    top: 131px;
    height: 66px;
    margin-left: -43px;
    width: 86px; }
  .openings-list {
    font-size: 28px; }
  .top-nav .nav-item {
    font-size: 14px; }
  .content-container {
    max-width: 280px; }
  .btn {
    font-size: 16px;
    width: 280px;
    height: 46px;
    line-height: 46px; }
  .btn-gradient {
    width: 280px;
    height: 46px;
    line-height: 46px; }
    .btn-gradient:after {
      -webkit-clip-path: polygon(0% 100%, 2px 100%, 2px 2px, 278px 2px, 278px 43px, 2px 43px, 2px 100%, 100% 100%, 100% 0%, 0% 0%); }
  .loaded .btn-gradient:after {
    -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
    animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse; } }

.extra-overlay {
  z-index: -10;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  -o-transition: opacity 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  transition: opacity 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  height: 100%;
  width: 100%; }

.extra-overlay.active {
  z-index: 1000000;
  opacity: 1; }

.inner-wrapper {
  z-index: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  -webkit-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  -o-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005); }
  .inner-wrapper .text {
    -webkit-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    -o-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 4;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0; }
  .inner-wrapper .text.active {
    opacity: 1;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .inner-wrapper .text.a {
    top: -25%;
    width: 25%; }
  .inner-wrapper .text.b {
    top: 110%;
    width: 34%; }
  .inner-wrapper img {
    width: 100%;
    height: auto; }
  .inner-wrapper .img {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: 0 50% 0;
    -ms-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
    -webkit-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    -o-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
    color: white;
    font-weight: 1000;
    font-size: 25px; }
    .inner-wrapper .img .content {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      top: -26px;
      left: 31px;
      width: 100px;
      height: 150px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      padding: 10px; }
  .inner-wrapper .img.a {
    opacity: 1;
    background-color: green;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inner-wrapper .img.b {
    z-index: 2; }
  .inner-wrapper .img.c {
    z-index: 1; }

.inner-wrapper.active {
  pointer-events: unset;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg); }

.img.a.active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  opacity: 0; }

.img.b.active {
  -webkit-box-shadow: 0 0 1.5rem 0 black;
  box-shadow: 0 0 1.5rem 0 black;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }
  .img.b.active:hover {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }

.img.c.active {
  -webkit-box-shadow: 0 0 1.5rem 0 black;
  box-shadow: 0 0 1.5rem 0 black;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }
  .img.c.active:hover {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }

#idea {
  -webkit-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  -o-transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005);
  transition: all 800ms cubic-bezier(0.445, 0.205, 0, 1.005); }

.transform-left {
  -webkit-transform: translate(-500%, 0);
  -ms-transform: translate(-500%, 0);
  transform: translate(-500%, 0); }

@media (orientation: landscape) and (max-width: 1023px) {
  .screenblock {
    display: block; }
  .cta-wrapper {
    padding: 26px 0 26px 0; }
    .cta-wrapper .bar {
      height: 7.5px; }
      .cta-wrapper .bar div {
        height: 7.5px; } }

@media (max-width: 1023px) {
  .cta-wrapper {
    padding: 26px 0 26px 0; }
    .cta-wrapper .bar {
      height: 7.5px; }
      .cta-wrapper .bar div {
        height: 7.5px; } }
